html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.poster {
  box-shadow: -0.5rem 0.5rem 1rem rgba(8, 141, 90, 0.534);
  margin: 1rem;
  width: 21rem;
  position: center;
}

.posterContainer {
  display: flex;
  justify-content: space-around;
}

.main {
  color: white;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  place-items: center;
  background-color: rgb(0, 96, 185);
  border-radius: 15px;
  padding: 1rem;
}

.divImg {
  max-width: 400px;
  max-height: 200px;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
  box-shadow: 8px 5px 5px black;

  display: flex;
  flex-direction: row;
}

.charImg {
  object-fit: cover;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 0 1rem 1rem 0;
  max-width: 200px;
  overflow: hidden;
}

.middleCharImg {
  object-fit: cover;
  max-height: 200px;

  border-radius: 0px;
  max-width: 200px;
  border: 1px solid black;

  overflow: hidden;
}

.castImg {
  min-width: 200px;
  max-height: 200px;
  object-fit: cover;
  object-position: left;
  border: 1px solid black;
  border-color: 1px 1px white;
  border-radius: 1rem 0 0 1rem;
  overflow: hidden;
}
.castDiv {
  width: 600px;
  height: auto;
  background-color: rgba(39, 133, 117, 0.5);
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.contactLink {
  font-family: book, "Handset Sans UI", system-ui, -apple-system, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: aliceblue;
  place-content: center;
}

.contactLink img {
  margin-right: 0.5rem;
  overflow: hidden;
}

.seasonSection {
  border-radius: 0.5rem;
  border-radius: 2rem;
  padding: 0.5rem 2rem 2rem;
  margin: 1rem;
  min-width: 20rem;
  background-color: black;
}

.seasonTitleContainer {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(8, 141, 90);
}

.seasonTitle {
  margin: 0;
}

.aboutSection {
  background-color: rgb(0, 0, 0);
  border-radius: 2rem;
  padding: 1rem;
}

.titleContainer {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(8, 141, 90);
  border-radius: 1rem;
}

.subtitulo {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.series-title {
  margin: 0;
  text-align: center;
}

.summary {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 0.5rem;
}

.eventItem {
  background-color: rgba(0, 191, 197, 0.658);
  border-radius: 2rem;
  padding: 1rem;
  list-style: none;
  margin: 1rem;
}

.footer {
  background-color: rgb(1, 83, 83);
  border-radius: 1rem 1rem 0rem 0rem;
  height: 8rem;
  color: white;
  position: absolute;
  line-height: 1rem;
  bottom: 0;

  left: 0;
  width: 100%;
}

.textContacto {
  text-align: center;
  margin: 1rem;
}

.linksContainer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.castTitleContainer {
  background-color: rgb(0, 86, 143);
}
